if SHIELD_VOWT36_DONGLE

config ZMK_KEYBOARD_NAME
	default "Vowt36 Dongle"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

config ZMK_USB
	default y

config SPI
	default y

config MIPI_DBI
	default y

config SSD16XX
	default y

config DISPLAY
	default y

endif

if SHIELD_VOWT36_LEFT || SHIELD_VOWT36_RIGHT || SHIELD_VOWT36_DONGLE

config ZMK_SPLIT
	default y

config ZMK_BLE
	default y

endif
