#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include "keys_pt.h"
#include "accents.dtsi"

#define DEF 0
#define LWR 1
#define RSE 2
#define ADJ 3

&lt { quick_tap_ms = <220>; };

&mt { quick_tap_ms = <220>; };

/ {
};

/ {
    combos {
        compatible = "zmk,combos";

        Bootloader-Left {
            bindings = <&bootloader>;
            key-positions = <5 29 4>;
        };

        BootLoader-Right {
            bindings = <&bootloader>;
            key-positions = <6 11 35>;
        };

        Accent-Acute {
            bindings = <&kp PT_ACUTE>;
            key-positions = <9 8>;
        };

        Accent-Grave {
            bindings = <&kp PT_GRAVE>;
            key-positions = <7 8>;
        };

        Accent-Tilde {
            bindings = <&kp PT_TILDE>;
            key-positions = <7 8 9>;
        };

        Accent-Caret {
            bindings = <&kp PT_CARET>;
            key-positions = <7 9>;
        };

        Backspace {
            bindings = <&kp BACKSPACE>;
            key-positions = <6 7>;
        };

        Enter {
            bindings = <&kp ENTER>;
            key-positions = <18 19>;
        };

        Delete {
            bindings = <&kp DELETE>;
            key-positions = <4 3>;
        };

        Tab {
            bindings = <&kp TAB>;
            key-positions = <16 15>;
        };

        Esc {
            bindings = <&kp ESC>;
            key-positions = <0 1>;
        };
    };

    macros {
        DeadKey: new_macro {
            compatible = "zmk,behavior-macro-two-param";
            #binding-cells = <2>;
            bindings = <&macro_param_1to1 &kp MACRO_PLACEHOLDER &macro_param_2to1 &kp MACRO_PLACEHOLDER>;
            label = "NEW_MACRO";
        };
    };

    behaviors {
        a_grv: a_grv {
            compatible = "zmk,behavior-mod-morph";
            label = "A_GRV";
            bindings = <&DeadKey PT_GRAVE A>, <&DeadKey PT_GRAVE LS(A)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        a_acu: a_acu {
            compatible = "zmk,behavior-mod-morph";
            label = "A_ACU";
            bindings = <&DeadKey PT_ACUTE A>, <&DeadKey PT_ACUTE LS(A)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        a_til: a_til {
            compatible = "zmk,behavior-mod-morph";
            label = "A_TIL";
            bindings = <&DeadKey PT_TILDE A>, <&DeadKey PT_TILDE LS(A)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        a_cir: a_cir {
            compatible = "zmk,behavior-mod-morph";
            label = "A_CIR";
            bindings = <&DeadKey PT_CARET A>, <&DeadKey PT_CARET LS(A)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        e_acu: e_acu {
            compatible = "zmk,behavior-mod-morph";
            label = "E_ACU";
            bindings = <&DeadKey PT_ACUTE E>, <&DeadKey PT_ACUTE LS(E)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        e_cir: e_cir {
            compatible = "zmk,behavior-mod-morph";
            label = "E_CIR";
            bindings = <&DeadKey PT_CARET E>, <&DeadKey PT_CARET LS(E)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        i_acu: i_acu {
            compatible = "zmk,behavior-mod-morph";
            label = "I_ACU";
            bindings = <&DeadKey PT_ACUTE I>, <&DeadKey PT_ACUTE LS(I)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        o_acu: o_acu {
            compatible = "zmk,behavior-mod-morph";
            label = "O_ACU";
            bindings = <&DeadKey PT_ACUTE O>, <&DeadKey PT_ACUTE LS(O)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        o_til: o_til {
            compatible = "zmk,behavior-mod-morph";
            label = "O_TIL";
            bindings = <&DeadKey PT_TILDE O>, <&DeadKey PT_TILDE LS(O)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        o_cir: o_cir {
            compatible = "zmk,behavior-mod-morph";
            label = "O_CIR";
            bindings = <&DeadKey PT_CARET O>, <&DeadKey PT_CARET LS(O)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        u_acu: u_acu {
            compatible = "zmk,behavior-mod-morph";
            label = "U_ACU";
            bindings = <&DeadKey PT_ACUTE U>, <&DeadKey PT_ACUTE LS(U)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        OneShotLayer: OneShotLayer {
            compatible = "zmk,behavior-hold-tap";
            label = "ONESHOTLAYER";
            bindings = <&mo>, <&sl>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        Question: Question {
            compatible = "zmk,behavior-mod-morph";
            label = "QUESTION";
            bindings = <&kp PT_QUESTION>, <&kp PT_EXCLAMATION>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Alpha {
            // ------------------------------------------------------------------------------------------------
            //|  |  Q  |  W  |  E  |  R  |  T  |               |  Y  |  U   |  I  |  O  |  P  |  | 
            //|  |  A  |  S  |  D  |  F  |  G  |               |  H  |  J   |  K  |  L  |  ;  |  |
            //|  |  Z  |  X  |  C  |  V  |  B  |               |  N  |  M   |  ,  |  .  |  /  |  |
            //                     | RSE | SPC | LWR |   | LWR | BKSP | RSE |

            bindings = <
&kp Q  &kp W               &kp E           &kp R           &kp T  &kp SPACE          &kp Y  &kp U            &kp I                  &kp O                   &kp P      &OneShotLayer 5 5
&kp A  &mt LEFT_CONTROL S  &mt LALT D      &mt LSHIFT F    &kp G  &OneShotLayer 2 2  &kp H  &mt RSHIFT J     &mt RALT K             &mt RIGHT_CONTROL L     &sl 1      &OneShotLayer 4 4
&kp Z  &mt LEFT_WIN X      &mt LEFT_WIN C  &mt LEFT_WIN V  &kp B  &OneShotLayer 3 3  &kp N  &mt RIGHT_WIN M  &mt LEFT_WIN PT_COMMA  &mt LEFT_WIN PT_PERIOD  &Question  &kp SPACE
            >;
        };

        Alpha2 {
            bindings = <
&trans  &trans  &e_acu            &trans  &trans  &trans  &trans  &u_acu        &i_acu        &o_til  &o_acu  &trans
&a_til  &a_acu  &e_cir            &trans  &trans  &trans  &trans  &kp PT_ACUTE  &kp PT_TILDE  &o_cir  &trans  &trans
&a_cir  &a_grv  &kp PT_C_CEDILLA  &trans  &trans  &trans  &trans  &kp PT_GRAVE  &kp PT_CARET  &trans  &trans  &trans
            >;
        };

        layer_2 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        layer_5 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
