#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include "keys_pt.h"
#include "accents.dtsi"

#define DEF 0
#define LWR 1
#define RSE 2
#define ADJ 3

&lt { quick_tap_ms = <220>; };

&mt { quick_tap_ms = <220>; };

/ {
};

/ {
    combos {
        compatible = "zmk,combos";

        Bootloader-Left {
            bindings = <&bootloader>;
            key-positions = <5 29 4>;
        };

        BootLoader-Right {
            bindings = <&bootloader>;
            key-positions = <6 11 35>;
        };

        Accent-Acute {
            bindings = <&kp PT_ACUTE>;
            key-positions = <9 8>;
        };

        Accent-Grave {
            bindings = <&kp PT_GRAVE>;
            key-positions = <7 8>;
        };

        Accent-Tilde {
            bindings = <&kp PT_TILDE>;
            key-positions = <7 8 9>;
        };

        Accent-Caret {
            bindings = <&kp PT_CARET>;
            key-positions = <7 9>;
        };

        Backspace {
            bindings = <&kp BACKSPACE>;
            key-positions = <6 7>;
        };

        Enter {
            bindings = <&kp ENTER>;
            key-positions = <18 19>;
        };

        Delete {
            bindings = <&kp DELETE>;
            key-positions = <4 3>;
        };

        Tab {
            bindings = <&kp TAB>;
            key-positions = <16 15>;
        };

        Esc {
            bindings = <&kp ESC>;
            key-positions = <0 1>;
        };
    };

    macros {
        DeadKey: new_macro {
            compatible = "zmk,behavior-macro-two-param";
            #binding-cells = <2>;
            bindings = <&macro_param_1to1 &kp MACRO_PLACEHOLDER &macro_param_2to1 &kp MACRO_PLACEHOLDER>;
            label = "NEW_MACRO";
        };
    };

    behaviors {
        a_grv: a_grv {
            compatible = "zmk,behavior-mod-morph";
            label = "A_GRV";
            bindings = <&DeadKey PT_GRAVE A>, <&DeadKey PT_GRAVE LS(A)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        a_acu: a_acu {
            compatible = "zmk,behavior-mod-morph";
            label = "A_ACU";
            bindings = <&DeadKey PT_ACUTE A>, <&DeadKey PT_ACUTE LS(A)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        a_til: a_til {
            compatible = "zmk,behavior-mod-morph";
            label = "A_TIL";
            bindings = <&DeadKey PT_TILDE A>, <&DeadKey PT_TILDE LS(A)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        a_cir: a_cir {
            compatible = "zmk,behavior-mod-morph";
            label = "A_CIR";
            bindings = <&DeadKey PT_CARET A>, <&DeadKey PT_CARET LS(A)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        e_acu: e_acu {
            compatible = "zmk,behavior-mod-morph";
            label = "E_ACU";
            bindings = <&DeadKey PT_ACUTE E>, <&DeadKey PT_ACUTE LS(E)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        e_cir: e_cir {
            compatible = "zmk,behavior-mod-morph";
            label = "E_CIR";
            bindings = <&DeadKey PT_CARET E>, <&DeadKey PT_CARET LS(E)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        i_acu: i_acu {
            compatible = "zmk,behavior-mod-morph";
            label = "I_ACU";
            bindings = <&DeadKey PT_ACUTE I>, <&DeadKey PT_ACUTE LS(I)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        o_acu: o_acu {
            compatible = "zmk,behavior-mod-morph";
            label = "O_ACU";
            bindings = <&DeadKey PT_ACUTE O>, <&DeadKey PT_ACUTE LS(O)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        o_til: o_til {
            compatible = "zmk,behavior-mod-morph";
            label = "O_TIL";
            bindings = <&DeadKey PT_TILDE O>, <&DeadKey PT_TILDE LS(O)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        o_cir: o_cir {
            compatible = "zmk,behavior-mod-morph";
            label = "O_CIR";
            bindings = <&DeadKey PT_CARET O>, <&DeadKey PT_CARET LS(O)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        u_acu: u_acu {
            compatible = "zmk,behavior-mod-morph";
            label = "U_ACU";
            bindings = <&DeadKey PT_ACUTE U>, <&DeadKey PT_ACUTE LS(U)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        OneShotLayer: OneShotLayer {
            compatible = "zmk,behavior-hold-tap";
            label = "ONESHOTLAYER";
            bindings = <&mo>, <&sl>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        Question: Question {
            compatible = "zmk,behavior-mod-morph";
            label = "QUESTION";
            bindings = <&kp PT_QUESTION>, <&kp PT_EXCLAMATION>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            // ------------------------------------------------------------------------------------------------
            //|  |  Q  |  W  |  E  |  R  |  T  |               |  Y  |  U   |  I  |  O  |  P  |  | 
            //|  |  A  |  S  |  D  |  F  |  G  |               |  H  |  J   |  K  |  L  |  ;  |  |
            //|  |  Z  |  X  |  C  |  V  |  B  |               |  N  |  M   |  ,  |  .  |  /  |  |
            //                     | RSE | SPC | LWR |   | LWR | BKSP | RSE |

            bindings = <
&kp Q           &kp W           &kp E             &kp R               &kp T  &lt 1 SPACE   &kp Y  &kp U                &kp I              &kp O            &kp P                       &lt 3 ENTER
&mt LEFT_GUI A  &mt LEFT_ALT S  &mt LEFT_SHIFT D  &mt LEFT_CONTROL F  &kp G  &kp ENTER     &kp H  &mt RIGHT_CONTROL J  &mt RIGHT_SHIFT K  &mt RIGHT_ALT L  &mt RIGHT_GUI PT_C_CEDILLA  &kp BACKSPACE
&kp Z           &kp X           &kp C             &kp V               &kp B  &lt 3 DELETE  &kp N  &kt M                &kt PT_COMMA       &kp PT_PERIOD    &kp PT_MINUS                &lt 2 SPACE
            >;

            label = "Base";
        };

        NAV {
            bindings = <
&kp ESC       &trans  &kp PT_ORDF  &kp PT_ORDM  &kp PRINTSCREEN  &trans  &kp PAGE_UP    &kp HOME           &kp UP    &kp END          &trans  &trans
&kp TAB       &trans  &trans       &trans       &kp INSERT       &trans  &kp PAGE_DOWN  &kp LEFT           &kp DOWN  &kp RIGHT        &trans  &trans
&kp CAPSLOCK  &trans  &trans       &trans       &kp KP_NUMLOCK   &trans  &trans         &sk RIGHT_CONTROL  &trans    &sk RIGHT_SHIFT  &trans  &trans
            >;
        };

        SYM {
            bindings = <
&kp PT_EXCLAMATION  &kp PT_AT_SIGN  &kp PT_HASH   &kp PT_DOLLAR     &kp PT_PERCENT       &trans  &kp PT_AMPERSAND   &kp PT_ASTERISK  &kp PT_LEFT_BRACE        &kp PT_RIGHT_BRACE        &kp PT_DOUBLE_QUOTES  &trans
&kp PT_GRAVE        &kp PT_TILDE    &kp PT_CARET  &kp PT_ACUTE      &kp PT_EURO          &trans  &kp PT_EQUAL       &kp PT_PLUS      &kp PT_LEFT_PARENTHESIS  &kp PT_RIGHT_PARENTHESIS  &kp PT_SINGLE_QUOTE   &trans
&kp PT_BACKSLASH    &kp PT_PIPE     &kp PT_SLASH  &kp PT_LESS_THAN  &kp PT_GREATER_THAN  &trans  &kp PT_UNDERSCORE  &kp PT_MINUS     &kp PT_LEFT_BRACKET      &kp PT_RIGHT_BRACKET      &kp PT_QUESTION       &trans
            >;
        };

        NUM {
            bindings = <
&kp F1     &kp F2  &kp F3  &kp F4   &kp F5   &trans  &trans     &kp N7  &kp N8  &kp N9  &kp N0     &trans
&kp F6     &kp F7  &kp F8  &kp F9   &kp F10  &trans  &kp COMMA  &kp N4  &kp N5  &kp N6  &kp DOT    &trans
&sk LSHFT  &trans  &trans  &kp F11  &kp F12  &trans  &trans     &kp N1  &kp N2  &kp N3  &kp ENTER  &trans
            >;
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
